{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Poll{% endblock %}

{% block main %}
<h1 class="panel-title">Create a new candidate</h1>

    <form method="POST" enctype="multipart/form-data" class="form formNewCon">

        {% csrf_token %}

        <label for="first_name">First name</label>

            {% render_field form.first_name class="form-control" %}
            
        <label for="last_name">Last Name</label>

            {% render_field form.last_name class="form-control" %}

        <label for="Photo">Photo</label>
        <input id="id_image" type="file" name="image" class="inputImage" data-multiple-caption="{count} files selected" multiple>
        <label for="id_image"><span>Choose a file</span></label>

        <label for="age">Age</label>
            {% render_field form.age class="form-control" %}  

        <label for="activiti">Activity</label>
            <div class="newCon">
                {% render_field form.activiti class="form-control" %}
            </div>
        <label for="biography">Biography</label>
            <div class="newCon">
                {% render_field form.biography class="form-control" %}
            </div>
        <button type="submit">Submit</button>
        
    </form>

        </div>
    </div>
</div>
{% endblock %}